force-app/main/default/flows/Opportunity_Email_Acknowledgement_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Receipt_Email</name>
        <label>Copy 1 of Send Receipt Email</label>
        <locationX>573</locationX>
        <locationY>1101</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record_after_No_Receipt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Email.value}, fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_In_Kind_Receipt_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Org_Account_In_Kind_Send_Receipt_Email</name>
        <label>Org Account In Kind Send Receipt Email</label>
        <locationX>1633</locationX>
        <locationY>1046</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record_after_No_Receipt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Email.value}, fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Org_Account_Get_In_Kind_Receipt_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Org_Account_Send_No_Receipt_Email</name>
        <label>Org Account Send No Receipt Email</label>
        <locationX>1106</locationX>
        <locationY>1046</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record_after_No_Receipt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Email.value}, fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Org_Account_Charitable_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Org_Account_Send_Receipt_Email</name>
        <label>Org Account Send Receipt Email</label>
        <locationX>1885</locationX>
        <locationY>1099</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record_after_No_Receipt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Email.value}, fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Org_Account_Get_Receipt_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_No_Receipt_Email</name>
        <label>Send No Receipt Email</label>
        <locationX>50</locationX>
        <locationY>1046</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record_after_No_Receipt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Email.value}, fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Charitable_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Receipt_Email</name>
        <label>Send Receipt Email</label>
        <locationX>842</locationX>
        <locationY>1046</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record_after_No_Receipt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Email.value}, fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Receipt_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checkbox check for Receipt, Unchecked for no Receipt.</description>
        <name>Copy_1_of_Does_Donor_Require_Receipt</name>
        <label>Does Donor Require Receipt?</label>
        <locationX>1502</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Is_it_an_In_Kind_Donation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Receipt_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Is_there_a_Charitable_Fund</targetReference>
            </connector>
            <label>Copy 1 of No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_it_an_In_Kind_Donation</name>
        <label>Is it an In-Kind Donation</label>
        <locationX>1766</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>Org_Account_Get_Receipt_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not an In-Kind Donation</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Is_in_kind_donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000VbJOAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_Account_Get_In_Kind_Receipt_Email_Template</targetReference>
            </connector>
            <label>Copy 1 of Is in kind donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_there_a_Charitable_Fund</name>
        <label>Is there a Charitable Fund?</label>
        <locationX>1238</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>Org_Account_Add_Charitable_Fund_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_there_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Charitable_Fund__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_Account_Charitable_Email_Template</targetReference>
            </connector>
            <label>Copy 1 of Yes there is</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checkbox check for Receipt, Unchecked for no Receipt.</description>
        <name>Does_Donor_Require_Receipt</name>
        <label>Does Donor Require Receipt?</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Is_it_an_In_Kind_Donation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Receipt_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Charitable_Fund</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_an_In_Kind_Donation</name>
        <label>Is it an In-Kind Donation</label>
        <locationX>710</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>Get_Receipt_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not an In-Kind Donation</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000VbJOAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_In_Kind_Receipt_Email_Template</targetReference>
            </connector>
            <label>Is in kind donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Charitable_Fund</name>
        <label>Is there a Charitable Fund?</label>
        <locationX>182</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>Add_Charitable_Fund_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_there_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Charitable_Fund__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Charitable_Email_Template</targetReference>
            </connector>
            <label>Yes there is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Primary_Contact</name>
        <label>Is there a Primary Contact?</label>
        <locationX>1568</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Add_Contact_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the opportunity is linked to household account or Organization account</description>
        <name>Is_this_a_household_Account</name>
        <label>Is this a household Account</label>
        <locationX>974</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Does_Donor_Require_Receipt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organization Account</defaultConnectorLabel>
        <rules>
            <name>Household_Account_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Account.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000VbJLAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Donor_Require_Receipt</targetReference>
            </connector>
            <label>Household Account type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Email Acknowledgement Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Email Acknowledgement Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Charitable_Email_Template</name>
        <label>Get Charitable Email Template</label>
        <locationX>50</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Receipt_Email_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00XVW000000mAZl2AM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_In_Kind_Receipt_Email_Template</name>
        <label>Get In-Kind Receipt Email Template</label>
        <locationX>578</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>In_Kind_Receipt_Email_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00XVW000003reTp2AI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>1568</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Receipt_Email_Template</name>
        <label>Get Receipt Email Template</label>
        <locationX>842</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Receipt_Email_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00XVW0000003DlV2AU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Org_Account_Charitable_Email_Template</name>
        <label>Org Account Charitable Email Template</label>
        <locationX>1106</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_Account_No_Receipt_Email_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00XVW000004NRzi2AG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Org_Account_Get_In_Kind_Receipt_Email_Template</name>
        <label>Org Account Get In-Kind Receipt Email Template</label>
        <locationX>1634</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_Account_In_Kind_Receipt_Email_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00XVW000004NRzj2AG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Org_Account_Get_Receipt_Email_Template</name>
        <label>Org Account Get Receipt Email Template</label>
        <locationX>1898</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_Account_Receipt_Email_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00XVW000004NRzk2AG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Record_after_No_Receipt</name>
        <label>Update Contact Record after No Receipt</label>
        <locationX>935</locationX>
        <locationY>1494</locationY>
        <connector>
            <targetReference>Confirmation_Screen_after_No_Receipt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record_after_No_Receipt</name>
        <label>Update Opportunity Record after No Receipt</label>
        <locationX>934</locationX>
        <locationY>1361</locationY>
        <connector>
            <targetReference>Update_Contact_Record_after_No_Receipt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Add_Charitable_Fund_Screen</name>
        <label>Add Charitable Fund Screen</label>
        <locationX>314</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>enterCharitableFund</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please enter a &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Charitable Fund&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; before sending this acknowledgement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Contact_Screen</name>
        <label>Add Contact Screen</label>
        <locationX>2162</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EnterContact</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please enter a &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Primary Contact&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; before sending this acknowledgement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_after_No_Receipt</name>
        <label>Confirmation Screen after No Receipt</label>
        <locationX>935</locationX>
        <locationY>1644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your acknowledgement email has &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 150, 30);&quot;&gt;successfully&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; been sent.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Screen</name>
        <label>Email Screen</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_a_household_Account</targetReference>
        </connector>
        <fields>
            <name>Confirm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please review the fields below for accuracy.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MissingEmail</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;There is no email address on the &lt;/span&gt;&lt;a href=&quot;https://redhorsecenterforcollaborativelea2.lightning.force.com/lightning/r/Contact/{!Get_Opportunity_Record.npsp__Primary_Contact__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Primary Contact&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;&apos;s record. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity_Record.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity_Record.Amount</elementReference>
            </defaultValue>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>In_Kind_Receipt_Email_Preview</name>
        <label>In Kind Receipt Email Preview</label>
        <locationX>578</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Send_Receipt_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_displayEmailBody2</name>
            <fieldText>&lt;p&gt;{!inKindEmailBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(131, 25, 24);&quot;&gt;Note: This Email  Includes a Receipt to the Donor. If you like would remove the Receipt, please close this process and go and uncheck the &quot;Receipt Required?&quot; field in the Detail Section.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(131, 25, 24);&quot;&gt;READY TO SEND THIS EMAIL? If so, click Next. If not, make adjustments to the Opportunity and Primary Contact records and refresh the page.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>No_Receipt_Email_Preview</name>
        <label>No Receipt Email Preview</label>
        <locationX>50</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_No_Receipt_Email</targetReference>
        </connector>
        <fields>
            <name>displayEmailBody</name>
            <fieldText>&lt;p&gt;{!noReceiptEmailBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(131, 25, 24);&quot;&gt;Note: This Email Doesn&apos;t Include a Receipt to the Donor. If you like would add a Receipt, please close this process and go and check the &quot;Receipt Required?&quot; field in the Detail Section.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(131, 25, 24);&quot;&gt;READY TO SEND THIS EMAIL? If so, click Next. If not, make adjustments to the Opportunity and Primary Contact records and refresh the page.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Org_Account_Add_Charitable_Fund_Screen</name>
        <label>Org Account Add Charitable Fund Screen</label>
        <locationX>1370</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_enterCharitableFund</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please enter a &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Charitable Fund&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; before sending this acknowledgement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>Org_Account_In_Kind_Receipt_Email_Preview</name>
        <label>Org Account In Kind Receipt Email Preview</label>
        <locationX>1634</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Org_Account_In_Kind_Send_Receipt_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_displayEmailBody2</name>
            <fieldText>&lt;p&gt;{!orgInKindEmailBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(131, 25, 24); font-size: 16px;&quot;&gt;Note: This Email  Includes a Receipt to the Donor. If you like would remove the Receipt, please close this process and go and uncheck the &quot;Receipt Required?&quot; field in the Detail Section.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(131, 25, 24); font-size: 16px;&quot;&gt;READY TO SEND THIS EMAIL? If so, click Next. If not, make adjustments to the Opportunity and Primary Contact records and refresh the page.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>Org_Account_No_Receipt_Email_Preview</name>
        <label>Org Account No Receipt Email Preview</label>
        <locationX>1106</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Org_Account_Send_No_Receipt_Email</targetReference>
        </connector>
        <fields>
            <name>Org_Account_displayEmailBody</name>
            <fieldText>&lt;p&gt;{!orgNoReceiptEmailBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(131, 25, 24);&quot;&gt;Note: This Email Doesn&apos;t Include a Receipt to the Donor. If you like would add a Receipt, please close this process and go and check the &quot;Receipt Required?&quot; field in the Detail Section.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(131, 25, 24);&quot;&gt;READY TO SEND THIS EMAIL? If so, click Next. If not, make adjustments to the Opportunity and Primary Contact records and refresh the page.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>Org_Account_Receipt_Email_Preview</name>
        <label>Org Account Receipt Email Preview</label>
        <locationX>1898</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Org_Account_Send_Receipt_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_displayEmailBody2</name>
            <fieldText>&lt;p&gt;{!orgReceiptEmailBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(131, 25, 24); font-size: 16px;&quot;&gt;Note: This Email  Includes a Receipt to the Donor. If you like would remove the Receipt, please close this process and go and uncheck the &quot;Receipt Required?&quot; field in the Detail Section.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(131, 25, 24); font-size: 16px;&quot;&gt;READY TO SEND THIS EMAIL? If so, click Next. If not, make adjustments to the Opportunity and Primary Contact records and refresh the page.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>Receipt_Email_Preview</name>
        <label>Receipt Email Preview</label>
        <locationX>842</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Receipt_Email</targetReference>
        </connector>
        <fields>
            <name>displayEmailBody2</name>
            <fieldText>&lt;p&gt;{!receiptEmailBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(131, 25, 24); font-size: 16px;&quot;&gt;Note: This Email  Includes a Receipt to the Donor. If you like would remove the Receipt, please close this process and go and uncheck the &quot;Receipt Required?&quot; field in the Detail Section.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(131, 25, 24); font-size: 16px;&quot;&gt;READY TO SEND THIS EMAIL? If so, click Next. If not, make adjustments to the Opportunity and Primary Contact records and refresh the page.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1442</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>inKindEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for your generous donation supporting Red Horse Center.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/p&gt;&lt;p&gt;Fred Bueltmann&lt;/p&gt;&lt;p&gt;Executive Director&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For more information visit our website at &lt;a href=&quot;https://redhorse.lightning.force.com/builder_platform_interaction/www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;www.redhorse.red&lt;/a&gt;, follow our social media pages, or join our Facebook group, &quot;Friends of Red Horse.&quot;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Facebook Page&lt;/a&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Instagram&lt;/a&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Donation Receipt:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/p&gt;&lt;p&gt;RHCCL (EIN): 85-2814738&lt;/p&gt;&lt;p&gt;&lt;strong&gt;RHCCL confirms the receipt of the following In-Kind donation:&amp;nbsp;{!Get_Opportunity_Record.Description}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName}{!Get_Opportunity_Record.npsp__Primary_Contact__r.LastName}&lt;/p&gt;&lt;p&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;Donation amount received: ${!Get_Opportunity_Record.Amount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is the Email Body of the email to the Donors that don&apos;t require a receipt (Charitable Fund).</description>
        <name>noReceiptEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Thank you for your generous donation supporting Red Horse Center.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Fred Bueltmann&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Executive Director&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;For more information visit our website at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;www.redhorse.red&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;, follow our social media pages, or join our Facebook group,&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Facebook Page&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Instagram&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;RHCCL (EIN): 85-2814738&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;This donation was received through a charitable fund or cooperative organization: {!Get_Opportunity_Record.Charitable_Fund__c}.&amp;nbsp;Recognizing that the organization you&apos;re working with will provide you the necessary receipts and documentation, this letter serves as an acknowledgement of gratitude, rather than a tax deductible receipt.&amp;nbsp;If you require any additional documentation, just let us know.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Red Horse acknowledges and appreciates the following donation:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName}{!Get_Opportunity_Record.npsp__Primary_Contact__r.LastName}&lt;/p&gt;&lt;p&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;Donation amount received: ${!Get_Opportunity_Record.Amount}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>orgInKindEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for {!Get_Opportunity_Record.Account.Name}&apos;s generous donation supporting Red Horse Center.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/p&gt;&lt;p&gt;Fred Bueltmann&lt;/p&gt;&lt;p&gt;Executive Director&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For more information visit our website at &lt;a href=&quot;https://redhorse.lightning.force.com/builder_platform_interaction/www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;www.redhorse.red&lt;/a&gt;, follow our social media pages, or join our Facebook group, &quot;Friends of Red Horse.&quot;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Facebook Page&lt;/a&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Instagram&lt;/a&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Donation Receipt:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/p&gt;&lt;p&gt;RHCCL (EIN): 85-2814738&lt;/p&gt;&lt;p&gt;&lt;strong&gt;RHCCL confirms the receipt of the following In-Kind donation:&amp;nbsp;{!Get_Opportunity_Record.Description}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.Account.Name}&lt;/p&gt;&lt;p&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;Donation amount received: ${!Get_Opportunity_Record.Amount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>orgNoReceiptEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Thank you for {!Get_Opportunity_Record.Account.Name}&apos;s generous donation supporting Red Horse Center.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Fred Bueltmann&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Executive Director&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;For more information visit our website at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://redhorse.lightning.force.com/builder_platform_interaction/www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;www.redhorse.red&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;, follow our social media pages, or join our Facebook group,&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Facebook Page&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Instagram&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;RHCCL (EIN): 85-2814738&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;This donation was received through a charitable fund or cooperative organization: {!Get_Opportunity_Record.Charitable_Fund__c}.&amp;nbsp;Recognizing that the organization you&apos;re working with will provide you the necessary receipts and documentation, this letter serves as an acknowledgement of gratitude, rather than a tax deductible receipt.&amp;nbsp;If you require any additional documentation, just let us know.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Red Horse acknowledges and appreciates the following donation:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.Account.Name}&lt;/p&gt;&lt;p&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;Donation amount received: ${!Get_Opportunity_Record.Amount}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>orgReceiptEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Thank you for {!Get_Opportunity_Record.Account.Name}&apos;s generous donation supporting Red Horse Center.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Fred Bueltmann&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Executive Director&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;For more information visit our website at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://redhorse.lightning.force.com/builder_platform_interaction/www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;www.redhorse.red&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: medium; font-family: -webkit-standard;&quot;&gt;, follow our social media pages, or join our Facebook group, &quot;Friends of Red Horse.&quot;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Facebook Page&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: medium; font-family: -webkit-standard;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Instagram&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: medium; font-family: -webkit-standard;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: medium; font-family: -webkit-standard;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Donation Receipt:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;RHCCL (EIN): 85-2814738&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;RHCCL confirms the receipt of the following donation:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.Account.Name}&lt;/p&gt;&lt;p&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;Donation amount received: ${!Get_Opportunity_Record.Amount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is the Email Body of the email to the Donors that require a receipt.</description>
        <name>receiptEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Thank you for your generous donation supporting Red Horse Center.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Fred Bueltmann&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Executive Director&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;For more information visit our website at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;www.redhorse.red&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;, follow our social media pages, or join our Facebook group, &quot;Friends of Red Horse.&quot;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Facebook Page&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Instagram&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Donation Receipt:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;RHCCL (EIN): 85-2814738&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;RHCCL confirms the receipt of the following donation:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName}{!Get_Opportunity_Record.npsp__Primary_Contact__r.LastName}&lt;/p&gt;&lt;p&gt;In Honor of:{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;Donation amount received: ${!Get_Opportunity_Record.Amount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
