force-app/main/default/flows/Opportunity_Email_Acknowledgement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_InKind_Email</name>
        <label>Send HH InKind Email</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue> fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XVW000004Q2vC2AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_No_Receipt_Email</name>
        <label>Send HH No Receipt Email</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue> fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XVW000000mAZl2AM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Org_InKind_Email</name>
        <label>Send Org InKind Email</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue> fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XVW000004Q2vA2AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Org_No_Receipt_Email</name>
        <label>Send Org No Receipt Email</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue> fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XVW000004Q2v92AC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Org_Receipt_Email</name>
        <label>Send Org Receipt Email</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XVW000004Q2vB2AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Receipt_Email</name>
        <label>Send HH Receipt Email</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fred@redhorse.red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XVW000004Q2v72AC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checking if the opportunity is linked to household account or Organization account</description>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>No_Receipt_Email_Preview_HH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household</defaultConnectorLabel>
        <rules>
            <name>Organization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Account.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000VbJMAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Receipt_Email_Preview_Org</targetReference>
            </connector>
            <label>Organization</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the opportunity is linked to household account or Organization account</description>
        <name>Check_Account_Type_Inkind</name>
        <label>Check Account Type</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Receipt_Email_Preview_InKind_HH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household</defaultConnectorLabel>
        <rules>
            <name>Organization_InKind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Account.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000VbJMAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receipt_Email_Preview_InKind_Org</targetReference>
            </connector>
            <label>Organization</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the opportunity is linked to household account or Organization account</description>
        <name>Check_Account_Type_Reciept</name>
        <label>Check Account Type</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Receipt_Email_Preview_HH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household</defaultConnectorLabel>
        <rules>
            <name>Organization_Receipt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Account.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000VbJMAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receipt_Email_Preview_Org</targetReference>
            </connector>
            <label>Organization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_InKind</name>
        <label>Check if InKind</label>
        <locationX>693</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Email_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Kind_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000VbJOAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Screen_InKind</targetReference>
            </connector>
            <label>In Kind Donation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checkbox check for Receipt, Unchecked for no Receipt.</description>
        <name>Does_Donor_Require_Receipt</name>
        <label>Does Donor Require Receipt?</label>
        <locationX>1205</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Type_Reciept</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Receipt_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Charitable_Fund</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Charitable_Fund</name>
        <label>Is there a Charitable Fund?</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Add_Charitable_Fund_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_there_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Charitable_Fund__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Type</targetReference>
            </connector>
            <label>Yes there is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Primary_Contact</name>
        <label>Is there a Primary Contact?</label>
        <locationX>1295</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Add_Contact_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_InKind</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sends acknowledgement letter based on account type and receipt status</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Email Acknowledgement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Email Acknowledgement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>1295</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>693</locationX>
        <locationY>1442</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Add_Charitable_Fund_Screen</name>
        <label>Add Charitable Fund Screen</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>enterCharitableFund</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please enter a &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Charitable Fund&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; before sending this acknowledgement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Contact_Screen</name>
        <label>Add Contact Screen</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EnterContact</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please enter a &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Primary Contact&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; before sending this acknowledgement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>693</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your acknowledgement email has &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 150, 30);&quot;&gt;successfully&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; been sent.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Screen</name>
        <label>Email Screen</label>
        <locationX>1205</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_Donor_Require_Receipt</targetReference>
        </connector>
        <fields>
            <name>Confirm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please review the fields below for accuracy.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MissingEmail</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;There is no email address on the &lt;/span&gt;&lt;a href=&quot;https://redhorsecenterforcollaborativelea2.lightning.force.com/lightning/r/Contact/{!Get_Opportunity_Record.npsp__Primary_Contact__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Primary Contact&lt;/a&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&apos;s record. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please exist and update the Primary Contact&apos;s Email Address.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity_Record.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity_Record.Amount</elementReference>
            </defaultValue>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Screen_InKind</name>
        <label>Email Screen - InKind</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Account_Type_Inkind</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Confirm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please review the fields below for accuracy.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PrimaryContactEmailInKind</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MissingEmailInKind</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;There is no email address on the &lt;/span&gt;&lt;a href=&quot;https://redhorsecenterforcollaborativelea2.lightning.force.com/lightning/r/Contact/{!Get_Opportunity_Record.npsp__Primary_Contact__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Primary Contact&lt;/a&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&apos;s record. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please exist and update the Primary Contact&apos;s Email Address.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_Record.npsp__Primary_Contact__r.Email</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity_Record.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InKindDesc</name>
            <fieldText>&lt;p&gt;In Kind Description:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InKindDescription</name>
            <extensionName>c:ascendRichTextViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>richText</name>
                <value>
                    <elementReference>Get_Opportunity_Record.npsp__In_Kind_Description__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>No_Receipt_Email_Preview_HH</name>
        <label>No Receipt Email Preview HH</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_No_Receipt_Email</targetReference>
        </connector>
        <fields>
            <name>displayEmailBody</name>
            <fieldText>&lt;p&gt;{!noReceiptEmailBodyHH}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(131, 25, 24); font-size: 16px;&quot;&gt;Note: This Email Doesn&apos;t Include a Receipt to the Donor. If you would like to add a Receipt, please close this process and check the &quot;Receipt Required?&quot; field in the Detail Section.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(131, 25, 24); font-size: 16px;&quot;&gt;READY TO SEND THIS EMAIL? If so, click Next. If not, make adjustments to the Opportunity and Primary Contact records and refresh the page.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>No_Receipt_Email_Preview_Org</name>
        <label>No Receipt Email Preview Org</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Org_No_Receipt_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_displayEmailBody</name>
            <fieldText>&lt;p&gt;{!noReceiptEmailBodyOrg}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(131, 25, 24);&quot;&gt;Note: This Email Doesn&apos;t Include a Receipt to the Donor. If you would like to add a Receipt, please close this process and check the &quot;Receipt Required?&quot; field in the Detail Section.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(131, 25, 24);&quot;&gt;READY TO SEND THIS EMAIL? If so, click Next. If not, make adjustments to the Opportunity and Primary Contact records and refresh the page.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>Receipt_Email_Preview_HH</name>
        <label>Receipt Email Preview HH</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Receipt_Email</targetReference>
        </connector>
        <fields>
            <name>displayEmailBody2</name>
            <fieldText>&lt;p&gt;{!receiptEmailBodyHH}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(131, 25, 24); font-size: 16px;&quot;&gt;Note: This Email  Includes a Receipt to the Donor. If you would like to remove the Receipt, please close this process and uncheck the &quot;Receipt Required?&quot; field in the Detail Section.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(131, 25, 24); font-size: 16px;&quot;&gt;READY TO SEND THIS EMAIL? If so, click Next. If not, make adjustments to the Opportunity and Primary Contact records and refresh the page.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>Receipt_Email_Preview_InKind_HH</name>
        <label>Receipt Email Preview InKind HH</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_InKind_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_displayEmailBody2</name>
            <fieldText>&lt;p&gt;{!inKindEmailBodyHH}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>Receipt_Email_Preview_InKind_Org</name>
        <label>Receipt Email Preview InKind Org</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Org_InKind_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_displayEmailBody2</name>
            <fieldText>&lt;p&gt;{!inKindEmailBodyOrg}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the user a preview of the email before sending it.</description>
        <name>Receipt_Email_Preview_Org</name>
        <label>Receipt Email Preview Org</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Org_Receipt_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_displayEmailBody2</name>
            <fieldText>&lt;p&gt;{!receiptEmailBodyOrg}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(131, 25, 24);&quot;&gt;Note: This Email  Includes a Receipt to the Donor. If you would like to remove the Receipt, please close this process and uncheck the &quot;Receipt Required?&quot; field in the Detail Section.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(131, 25, 24);&quot;&gt;READY TO SEND THIS EMAIL? If so, click Next. If not, make adjustments to the Opportunity and Primary Contact records and refresh the page.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1169</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>inKindEmailBodyHH</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for your generous donation supporting Red Horse Center.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/p&gt;&lt;p&gt;Fred Bueltmann&lt;/p&gt;&lt;p&gt;Executive Director&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For more information visit our website at &lt;a href=&quot;https://redhorse.lightning.force.com/builder_platform_interaction/www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;www.redhorse.red&lt;/a&gt;, follow our social media pages, or join our Facebook group, &quot;Friends of Red Horse.&quot;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Facebook Page&lt;/a&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Instagram&lt;/a&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Donation Receipt:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/p&gt;&lt;p&gt;RHCCL (EIN): 85-2814738&lt;/p&gt;&lt;p&gt;&lt;strong&gt;RHCCL confirms the receipt of the following In-Kind donation:&amp;nbsp;{!Get_Opportunity_Record.npsp__In_Kind_Description__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName}{!Get_Opportunity_Record.npsp__Primary_Contact__r.LastName}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>inKindEmailBodyOrg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for {!Get_Opportunity_Record.Account.Name}&apos;s generous donation supporting Red Horse Center.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/p&gt;&lt;p&gt;Fred Bueltmann&lt;/p&gt;&lt;p&gt;Executive Director&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For more information visit our website at &lt;a href=&quot;https://redhorse.lightning.force.com/builder_platform_interaction/www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;www.redhorse.red&lt;/a&gt;, follow our social media pages, or join our Facebook group, &quot;Friends of Red Horse.&quot;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Facebook Page&lt;/a&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Instagram&lt;/a&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Donation Receipt:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/p&gt;&lt;p&gt;RHCCL (EIN): 85-2814738&lt;/p&gt;&lt;p&gt;&lt;strong&gt;RHCCL confirms the receipt of the following In-Kind donation:&amp;nbsp;{!Get_Opportunity_Record.npsp__In_Kind_Description__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.Account.Name}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is the Email Body of the email to the Donors that don&apos;t require a receipt (Charitable Fund) for Households</description>
        <name>noReceiptEmailBodyHH</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Thank you for your generous donation supporting Red Horse Center.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Fred Bueltmann&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Executive Director&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;For more information visit our website at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;www.redhorse.red&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;, follow our social media pages, or join our Facebook group,&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Facebook Page&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Instagram&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;RHCCL (EIN): 85-2814738&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;This donation was received through a charitable fund or cooperative organization: {!Get_Opportunity_Record.Charitable_Fund__c}.&amp;nbsp;Recognizing that the organization you&apos;re working with will provide you the necessary receipts and documentation, this letter serves as an acknowledgement of gratitude, rather than a tax-deductible receipt.&amp;nbsp;If you require any add&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;itional documentation, just let us know.&lt;/span&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Red Horse acknowledges and appreciates the following donation:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName}&amp;nbsp;{!Get_Opportunity_Record.npsp__Primary_Contact__r.LastName}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;Donation amount received: {!Get_Opportunity_Record.Amount}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>noReceiptEmailBodyOrg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Thank you for {!Get_Opportunity_Record.Account.Name}&apos;s generous donation supporting Red Horse Center.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Fred Bueltmann&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Executive Director&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;For more information visit our website at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://redhorse.lightning.force.com/builder_platform_interaction/www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;www.redhorse.red&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: medium; font-family: -webkit-standard;&quot;&gt;, follow our social media pages, or join our Facebook group,&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: medium; font-family: -webkit-standard;&quot;&gt;,&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Facebook Page&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: medium; font-family: -webkit-standard;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Instagram&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: medium; font-family: -webkit-standard;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;RHCCL (EIN): 85-2814738&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: -webkit-standard; color: rgb(0, 0, 0);&quot;&gt;This donation was received through a charitable fund or cooperative organization: {!Get_Opportunity_Record.Charitable_Fund__c}.&amp;nbsp;Recognizing that the organization you&apos;re working with will provide you the necessary receipts and documentation, this letter serves as an acknowledgement of gratitude, rather than a tax deductible receipt.&amp;nbsp;If you require any additional documentation, just let us know.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Red Horse acknowledges and appreciates the following donation:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.Account.Name}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;Donation amount received: ${!Get_Opportunity_Record.Amount}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>This is the Email Body of the email to the Donors that require a receipt for Households</description>
        <name>receiptEmailBodyHH</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Thank you for your generous donation supporting Red Horse Center.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Fred Bueltmann&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Executive Director&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;For more information visit our website at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;www.redhorse.red&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;, follow our social media pages, or join our Facebook group, &quot;Friends of Red Horse.&quot;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Facebook Page&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Instagram&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Donation Receipt:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;RHCCL (EIN): 85-2814738&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;RHCCL confirms the receipt of the following donation:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName}&amp;nbsp;{!Get_Opportunity_Record.npsp__Primary_Contact__r.LastName}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;Donation amount received: {!Get_Opportunity_Record.Amount}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>receiptEmailBodyOrg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Dear {!Get_Opportunity_Record.npsp__Primary_Contact__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Thank you for {!Get_Opportunity_Record.Account.Name}&apos;s generous donation supporting Red Horse Center.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your help is an invaluable contribution to providing equitable access to personal wellness, mental health, and personal development programs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Together, we are creating and holding space for people to find peaceful, empowering support for their healing transformation, while also supporting our incredibly generous herd of four-legged co-facilitators.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Your donation makes many things possible, including our variable pricing structure, an effort towards judgment and stigma-free financial support for people to engage in services, and our no-cost workshops for local schools.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;From our herd to yours, thank you.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Siggy?oid=00D5e000003R6Ko&quot; alt=&quot;Siggy&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Fred Bueltmann&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Executive Director&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;For more information visit our website at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://redhorse.lightning.force.com/builder_platform_interaction/www.redhorse.red&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;www.redhorse.red&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;, follow our social media pages, or join our Facebook group, &quot;Friends of Red Horse.&quot;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.facebook.com/RedHorseFennville/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Facebook Page&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.instagram.com/redhorsecollaboration&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Instagram&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.facebook.com/groups/583906499810009&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Friends of Red Horse&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.tiktok.com/@redhorsecenter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(154, 62, 62);&quot;&gt;Tiktok&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/Red_Horse_Center_Logo_2023_Red?oid=00D5e000003R6Ko&quot; alt=&quot;Red Horse Center Logo_2023_Red&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Donation Receipt:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;Red Horse Center for Collaborative Leadership (RHCCL) is recognized federally as a 501(c)(3) nonprofit organization eligible to receive tax-deductible contributions and gifts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium;&quot;&gt;RHCCL (EIN): 85-2814738&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;RHCCL confirms the receipt of the following donation:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Name of Donor: {!Get_Opportunity_Record.Account.Name}&lt;/p&gt;&lt;p&gt;Date of Donation: {!Get_Opportunity_Record.CloseDate}&lt;/p&gt;&lt;p&gt;Donation amount received: ${!Get_Opportunity_Record.Amount}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;In Honor of:&amp;nbsp;{!Get_Opportunity_Record.npsp__Honoree_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://redhorse.file.force.com/file-asset-public/HEY_Fennville_Card_Back_About_RHC?oid=00D5e000003R6Ko&quot; alt=&quot;HEY Fennville Card Back (About RHC)&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
