force-app/main/default/flows/Square_Auto_Create_Contact_Account_and_Opp_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Campaign_Id</name>
        <label>Assign Campaign Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_MH_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_and_Account_Id</name>
        <label>Assign Contact and Account Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAccoundId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Donation_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merch_Campaign_Id</name>
        <label>Assign Merch Campaign Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Merch_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Merch_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Seasonal_Campaign_Id</name>
        <label>Assign Seasonal Campaign Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seasonal_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unknown_Household</name>
        <label>Assign Unknown Household</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAccoundId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0015e000016h3NsAAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>003VW00000qNcxuYAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Donation_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_a_Contact_Exist</name>
        <label>Does a Contact Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_and_Account_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Campaign_Exist</name>
        <label>Does Campaign Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Merch_Campaign_Exist</name>
        <label>Does Merch Campaign Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Merch_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Merch_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Merch_Campaign_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Seasonal_Campaign_Exist</name>
        <label>Does Seasonal Campaign Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Seasonal_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Seasonal_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Seasonal_Campaign_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donation_Type</name>
        <label>Donation Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MentalHealth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mental Health Sessions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>Mental Health</label>
        </rules>
        <rules>
            <name>Donation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAFFLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Seasonal_Campaign</targetReference>
            </connector>
            <label>Donation</label>
        </rules>
        <rules>
            <name>Retail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Merch_Campaign</targetReference>
            </connector>
            <label>Retail/Merch</label>
        </rules>
        <rules>
            <name>Event_Revenue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event Revenue </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drink</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Food</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Rev_Opportunity</targetReference>
            </connector>
            <label>Event Revenue</label>
        </rules>
        <rules>
            <name>Wellness_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Wellness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Wellness_Opportunity</targetReference>
            </connector>
            <label>Wellness Services</label>
        </rules>
        <rules>
            <name>Professional_Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prof. Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Prof_Dev_Opportunity</targetReference>
            </connector>
            <label>Professional Development</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Exists</name>
        <label>Email Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Contact_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unknown_Household</targetReference>
            </connector>
            <label>No Contact Details?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fEnddate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.Payment_Date__c}), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>fMentalHealthCampaignName</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Payment_Date__c})) &amp; &quot; &quot; &amp; &quot; Mental Health Sessions&quot;</expression>
    </formulas>
    <formulas>
        <name>fMerchCampaignName</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Payment_Date__c})) &amp; &quot; &quot; &amp; &quot;Merchandise&quot;</expression>
    </formulas>
    <formulas>
        <name>fStartdate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.Payment_Date__c}), 1, 1)</expression>
    </formulas>
    <formulas>
        <name>fSupportDriveSeasonCampaign</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Payment_Date__c})) &amp; &quot; &quot; &amp;

IF(
    MONTH({!$Record.Payment_Date__c}) &lt;= 3,
    &quot;Winter&quot;,

    IF(
        MONTH({!$Record.Payment_Date__c}) &lt;= 5,
        &quot;Spring&quot;,

        IF(
            MONTH({!$Record.Payment_Date__c}) &lt;= 9,
            &quot;Summer&quot;,
            &quot;Fall&quot;
        )
    )
)

&amp; &quot; Support Drive&quot;</expression>
    </formulas>
    <interviewLabel>Square: Auto Create Contact, Account, and Opp Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Square: Auto Create Contact, Account, and Opp Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varCampaignId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_MH_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>fEnddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fMentalHealthCampaignName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125e000000VbJUAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>fStartdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.Zipcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Rev_Opportunity</name>
        <label>Create Event Rev Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Square_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Event Rev - Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Sent_by_Platform__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012VW000001bGziYAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Square_Transaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Fee__c</field>
            <value>
                <elementReference>$Record.Processing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged by Platform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Merch_Campaign</name>
        <label>Create Merch Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varCampaignId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Merch_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fMerchCampaignName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125e000000VbJRAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Merch_Opportunity</name>
        <label>Create Merch Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Square_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Donation - Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Sent_by_Platform__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012VW000001bITdYAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Square_Transaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Fee__c</field>
            <value>
                <elementReference>$Record.Processing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged by Platform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MH_Opportunity</name>
        <label>Create MH Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Square_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Mental Health Session - Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Sent_by_Platform__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012VW000001bIGjYAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Square_Transaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Fee__c</field>
            <value>
                <elementReference>$Record.Processing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged by Platform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Donation Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Square_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Donation - Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Sent_by_Platform__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125e000000VbJNAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Square_Transaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Fee__c</field>
            <value>
                <elementReference>$Record.Processing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged by Platform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Prof_Dev_Opportunity</name>
        <label>Create Prof Dev Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Square_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Prof Dev - Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Sent_by_Platform__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125e000001tMqaAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Square_Transaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Fee__c</field>
            <value>
                <elementReference>$Record.Processing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged by Platform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Seasonal_Campaign</name>
        <label>Create Seasonal Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varCampaignId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fSupportDriveSeasonCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125e000000VbJSAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Wellness_Opportunity</name>
        <label>Create Wellness Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Square_Transaction</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Wellness Services - Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Square</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Sent_by_Platform__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012VW000003IoO1YAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Square_Transaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Fee__c</field>
            <value>
                <elementReference>$Record.Processing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged by Platform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Campaign_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125e000000VbJUAA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_a_Contact_Exist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__HomeEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__WorkEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__AlternateEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Contact</name>
        <label>Get Created Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donation_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Merch_Campaign</name>
        <label>Get Merch Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Merch_Campaign_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Merchandise</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Seasonal_Campaign</name>
        <label>Get Seasonal Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Seasonal_Campaign_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign_Donations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Square_Transaction</name>
        <label>Update Square Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Exists</targetReference>
        </connector>
        <object>Square_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
